

.page {
    display: flex;
    flex-direction: column;
    .form {
        display: flex;
        flex-direction: row;
        button {
            margin-left: 10px;
        }
    }
    .movie-wrapper {
        display: flex;
        flex-direction: row;
        .results {
            flex-direction: column;
            margin-left: 20px;
            img {
                height: 300px;
                max-width: 220px;
            }
        }
    }
}